@import "reset.scss";
@import "text.scss";
@import "utilities.scss";

body {
  font: 13px / 1.5 "Myriad Pro", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;}

hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  margin-left: 30px; }

p, dl, pre, table, address, fieldset, ul, ol, h1, h2, h3, h4, h5, h6, hr {
  margin-bottom: 20px; }

.fieldWithErrors {
  display: inline-block;
  color: #a01c1d;
  font-weight: bold;
  input {
    border: 5px solid #f26667; } }

#errorExplanation {
  width: 500px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  background-color: #f26667;
  font-weight: bold;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 10px 5px 10px 15px;
    font-size: 1.2em;
    margin: -7px -7px 7px -7px;
    background-color: #cc0000;
    color: white; }
  p {
    color: #a01c1d;
    margin-bottom: 0;
    padding: 5px;
    font-size: 1.1em; }
  ul li {
    font-size: 12px;
    list-style: square;
    color: #111111; } }

#header {
  background: #fbf3bc;
  border-bottom: 1px solid #cfcfcf;
  height: 125px;
  .wrapper {
    position: relative;
    #logo {
      color: #c9c9c9;
      margin: 0 auto;
      width: 960px;
      padding: 0px;
      height: 125px;
      a {
        display: block;
        float: left;
        width: 460px;
        height: 125px;
        background: #fbf3bc url('/images/endcap-logo.png') no-repeat;
        overflow: hidden;
        text-indent: -50em; 
      }
      #info {
        float: right;
        a {
          color: black;
          display: inline;
          text-decoration: none;
          background: transparent;
          text-indent: 0;
          overflow: visible;
          background: none;
          width: 65px;
        }
        .welcome {
          font-size: 1.2em; 
        } 
      }
    }
  }
  #main-nav {
    margin: 0;
    .wrapper {
      background: #624312;
      #menu-main {
        width: 960px;
        margin: 0 auto;
        list-style: none;
        .menu-item {
          margin: 0;
          margin-right: 35px;
          display: inline;
          height: 40px;
          a {
            font: 2.2em 'Reenie Beanie', 'Myriad Pro', Helvetica, Arial, sans-serif;
            color: #dfc280;
            text-decoration: none;
            height: 40px;
          }
          a:hover {
            color: #ffc289;
            background-color: rgba(255, 255, 255, .2);
          }
          a:focus {
            outline: 1px dotted invert;
          }
        }
      }
    }
  }
}

#featuredcontent {
  background: white;
  height: 425px;
  margin-top: 45px;
  .wrapper{
    margin: 0px auto;
    width: 960px;
    #featuredartist {
      background: white;
      background-position: left bottom;
      color: white;
      width: 620px;
      margin: 0px;
      margin-top: 15px;
      height: 265px;
      float: left;
      #video {
        margin: 0 auto;
        width: 500px;
        iframe {
          margin: 0 auto;
        }
      }
      #artist{
          float: right;
          font-size: 27px;
          margin-top: 5px;
          margin-right: 10px; 
      } 
    } 
    #discover {
      margin: 0px;
      margin-top: 15px;
      height: 265px;
      width: 315px;
      float: right;
      h2 {
        color: #624312;
        font-size: 34px;
        margin: 0px;
        font-weight: normal;
      }
      .calltoaction {
        font-size: 34px;
        color: #ff9c00;
        text-align: right;
      }
    }
  }
}
      
#maincontent {
  background: #fbf3bc;
  height: 400px;
  .wrapper {
    margin: 0px auto;
    width: 960px;
    #bandlist {
      @include columns(4);
      h2{
        font-size: 60px;
        font-weight: normal;
        color: #ff9c00;
      }
      ul {
        list-style-type: none;
        margin-right: 20px;
        li{
          margin: 0;
          margin-left: 5px;
          font-size: 16px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        #broncho {
          background: url('/images/endcap-thumb.png') no-repeat;
          background-position: right center;
          height: 40px;
        }
        #nativelights{
          background: url('/images/endcap-thumb.png') no-repeat;
          background-position: right center;
          height: 40px;
        }
        #deadseachoir{
          background: url('/images/endcap-thumb.png') no-repeat;
          background-position: right center;
          height: 40px;
        }
        #andtherestandempires{
          background: url('/images/endcap-thumb.png') no-repeat;
          background-position: right center;
          height: 40px;
        }
        #daniels{
          background: url('/images/endcap-thumb.png') no-repeat;
          background-position: right center;
          height: 40px;
        }
      }
    }
    #eventlist {
      @include columns(4);        
      h2{
        font-size: 60px;
        font-weight: normal;
        color: #ff9c00;
      }
      ul {
        list-style: none;
        margin-right: 20px;
        li {
          margin: 0;
          margin-left: 5px;
          font-size: 16px;
          margin-top: 15px;
          margin-bottom: 20px;
          .artist {
            color: black;
            margin: 0;
            line-height: 15px;
            font-size: 15px;
          }
          .show {
            color: #666666;
            margin: 0;
            line-height:15px;
            font-size:15px;
            margin-top: 5px;
          }
        }
      }
    }
    #songlist {
      @include columns(4);
      h2 {
        font-size: 60px;
        font-weight: normal;
        color: #ff9c00;
      }
      ul {
        list-style: none;
        margin-right: 20px;
        li {
          margin: 0;
          margin-left: 5px;
          font-size: 16px;
          margin-top: 15px;
          margin-bottom: 20px;
          .title {
            color: #6c4f1d;
            margin: 0;
            line-height: 15px;
            font-size: 15px;
          }
          .artist {
            color: black;
            margin: 0;
            line-height:15px;
            font-size:15px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

#actioncontent {
  background: white;
  height: 345px;
  .wrapper {
    margin: 0px auto;
    width: 960px;
    #mainsponsor {
      margin: 20px 0px 20px 0px;
    }
    #bandscallout {
      float: right;
      margin: 20px 0px 20px 0px;
    }
  }
}

#profile {
  background: white;
  height: 600px;
  margin-top: 45px;
  .wrapper {
    margin: 0px auto;
    width: 960px;
    #profile1 {
      @include columns(4);
      img {
        border: 5px solid #efefef;
        margin-bottom: 10px;
      }
      p {
        font-size: 12px;
      }
    }
    #profile2 {
      @include columns(4);
      h3 {
        color: #ff9c00;
        font-size: 34px;
        font-weight: normal;
        margin: 0px;
      }
      #subtitle {
        margin-top: -15px;
        margin-left: 5px;
        font-size: 10px;
      }
      #top {
        height: 225px;
        h4 {
          color: #89724d;
          font-weight: normal;
          margin-top: 20px;
          margin-bottom: 0px;
        }
      }
      #bottom {
        margin-top: 200px;
      }
      ul {
        list-style: none;
        margin-left: -22px;
        li {
          margin-top: 10px;
          margin-bottom: 5px;
        }
        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
        }
        :hover{
          color: #ccc
        }
      }
    }
    #profile3 {
      @include columns(4);
      background-color: #efefef;
      h3 {
        color: #7d633c;
        font-weight: normal;
        margin-left: 15px;
        margin-top: 5px;
      }
      div {
        float: left;
        margin-top: -10px;
        margin-left: 15px;
        a {
          color: black;
          text-decoration: none;
          text-align: center;
        }
      }
      img {
        border: 5px solid white;
      }
      ul {
        display: block;
        list-style: none;
        margin-top: 200px;
        margin-left: -30px;
      }
      h4 {
        margin-top: 15px;
        margin-bottom: 0px;
        
      }
    }
  }
}


#listing {
  background: white;
  width: 960px;
  margin: 0 auto;
  margin-top: 45px;
  h1{
    margin-left: 25px;
  }
  table {
    width: 95%;
    margin: 0 auto;
    th {
      text-align: left;
      font-weight: normal;
      font-size: 16px;
    }
    td {
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 5px;
      img {
        float: left;
      }
    }
  }
}

#signup {
  margin-top: 45px;
  height: 1000px;
  .wrapper {
    margin: 0px auto;
    width: 960px;
    #col1 {
      @include columns(3);
    }
    #col2 {
      @include columns(3);
    }
    #col3 {
      @include columns(6);
    }
  }
}

#login {
  margin-top: 45px;
  .wrapper {
    margin: 0px auto;
    width: 960px;
    #signin {
      margin: 0px auto;
      width: 400px;
      background-color: #c77d08;
      padding: 15px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      h1 {
        text-align: center;
      }
      form {
        margin: 0px auto;
        width: 50%;
      }
    }
  }
}

#footer {
  background: #c77d08;
  color: #fbf3bc;
  height: 300px;
  padding-bottom: 40px;
  .wrapper {
    width: 960px;
    margin: 0px auto;
    #followbox {
      @include columns(4);
      a {
        color: #fbf3bc;
        font-weight: bold;
        text-decoration: none;
      }
    }
    #propsbox {
      @include columns(4);
      #teamlist {
        margin-top: -15px;
      }
    }
    #bigups {
      @include columns(4);
    }
  }
}


#notice, #error {
  display: inline-block;
  padding: 4px 12px 2px 10px;
  margin: 0 0 20px;
  margin: 0 0 20px;
  font-size: 1.5em;
  font-weight: bold; }

#notice {
  background: #3de25c;
  color: #166a26; }

#error {
  background: #f26667;
  color: #a01c1d; }
