#maincontent
  .wrapper
    %h1
      What's Endcap?
    %p
      In a time long, long ago, before the Internet and before boys named Bieber claimed trending topics -- hell, before we even knew what trending topics were -- people got their music from record stores.  In those record stores were sections where the latest, most beloved music could be featured, standing out from the stacks -- the endcap.

    %p
      Like the glorious record stores of yesteryear, endcap is an opportunity for local bands to stand out, and not just the bands, but the local music scene in general.  endcap is the perfect home for the music-curious and the music-savvy -- a central gathering places for all elements that make up an exciting and historic local music scene.

    %p
      Local bands’ former bastion, MySpace, is declining and the status streams of other popular social sites like Twitter and Facebook have local bands losing their identity online. For any local scene, identity and band recognition is everything.

    %p
      endcap provides identity. Promoting the bands of today, while documenting past bands that built the scene, endcape is the ultimate bridge between the fan and the music. It’s the unequaled source for knowledge and exposure to the scene. What IMDB is to the movie business, endcap will be to local music.

    %p
      endcap is a database, cataloging bands and the musicians within them. It’s a juke-box, providing you a means to sample bands’ music before you’re a fan and to play repeatedly after you become their biggest one. endcap is a show scheduler, providing an extensive up-to-date calendar so you can always find live performances.

    %p
      Search for a band you used to love, then track the band members to new projects they’re working on. Enrich your fandom and keep the scene alive.
      
    %h1 Bands & Artists

    %p
      Calling all bands and musicians: come one and come all, and help us make our database rich and extensive. If you’re an artist, sign up for a profile, list your band-ography and which instrument(s) you play. Leave your contact information so others can contact you about playing with them or just so they can tell you how badass at oboe you really are.

    %p
      Our brief questionnaire will take you through the process. You can also create band profiles, even if you’re a solo artist. List all the members, even the ones you kicked out. Surely they deserve a little credit, right? Encourage all your members to sign up too. List your discography to let fans know what recordings are out there. Embed your music so anyone can listen right on your site. Finally, make sure to leave and update a list of upcoming shows so we can experience your music live.

    %p
      Even if your band is now defunct for whatever reason (we won’t judge), create a profile and let your past fans know what you are doing now. Embed your old tunes so fans can enjoy the sounds of yore, and more importantly appreciate the history and foundation of this great music scene.  

    %p
      endcap wants to share local music with your fans, and we can only do this with your help,
      = link_to "so sign up!", signup_path
      
    %h1 Story

    %p
      endcap, like all great rock-and-roll, was cranked out over a long weekend of cola, Coors, and coding. Okay, maybe coding isn’t usually associated with rock-and-roll, but when you’re trying to connect local music fans to local bands over the Internet, it’s pretty damn important.

    %p
      Tulsa Start-Up Weekend and Global Start-Up Battle (big-ups to the Kaufman Foundation) were the catalysts. Inspiration? That came from the need to find and then share great local music and to simply provide a platform that allows the scene to be seen.

    %p
      Like the multitudes of bands that will populate this site, our band, the endcap team, is made of talented, hard-working dreamers. A trio of developers, a designer, a network engineer, a writer (a cunning linguist, if you will), and a fanboy with a simple idea -- these are our rock stars; this is the team that brings you endcap.