#featuredcontent
  .wrapper
    %div{:id => "featuredartist"}
      %img{:src => "/images/featured-pic.png", :id => "featuredpic"}
      %div{:id => "artist"} Jacob Fred Jazz Oddessy
    %div{:id => "discover"}
      %h2 Discover Local Music
      %p What artists and bands are in your local area?  What band is that one musician in, now? Endcap can let you know. Explore local events, venues, bands, and music, and check out what’s going on in your local music scene.  Sounds cool?  Awesome!
      %p{:class => "calltoaction"} Check it out >>          

#maincontent
  .wrapper
    #bandlist
      %h2 Bands
      %ul
        %li{:id => "broncho"} BRONCHO
        %li{:id => "nativelights"} Native Lights
        %li{:id => "deadseachoir"} Dead Sea Choir
        %li{:id => "andtherestandempires"} And There Stand Empires
        %li{:id => "daniels"} Daniels
    #eventlist
      %h2 Events
      %ul
        %li{:class => "event"}
          %p{:class => "artist"} Pat Cook
          %p{:class => "show"} Nov. 17 @ Mercury Lounge
        %li{:class => "event"}
          %p{:class => "artist"} Pat Cook
          %p{:class => "show"} Nov. 17 @ Mercury Lounge
        %li{:class => "event"}
          %p{:class => "artist"} Pat Cook
          %p{:class => "show"} Nov. 17 @ Mercury Lounge
        %li{:class => "event"}
          %p{:class => "artist"} Pat Cook
          %p{:class => "show"} Nov. 17 @ Mercury Lounge
        %li{:class => "event"}
          %p{:class => "artist"} Pat Cook
          %p{:class => "show"} Nov. 17 @ Mercury Lounge
    #songlist
      %h2 Songs
      %ul
        %li{:class => "song"}
          %p{:class => "title"} "Try Me Out Sometime"
          %p{:class => "artist"} BRONCHO
        %li{:class => "song"}
          %p{:class => "title"} "Try Me Out Sometime"
          %p{:class => "artist"} BRONCHO
        %li{:class => "song"}
          %p{:class => "title"} "Try Me Out Sometime"
          %p{:class => "artist"} BRONCHO
        %li{:class => "song"}
          %p{:class => "title"} "Try Me Out Sometime"
          %p{:class => "artist"} BRONCHO
        %li{:class => "song"}
          %p{:class => "title"} "Try Me Out Sometime"
          %p{:class => "artist"} BRONCHO