%section
  %div{:class => "content main"}
    %header
      %h1
        Explore Endcap
    %div
      %article.subherounit
        %h2 Bands
        %ul
          - @bands.each do |band|
            %li{:class => "band", :style => "height: 45px"}
              =link_to band.name, band
              -if band.image and band.image.length > 0
                %img{:src => band.image, :style => "width: 50px; height:50px; float: right;" }
      %article.subherounit
        %h2 Events
        %ul
          - @events.each do |event|
            %li{:class => "event", :style => "height: 45px"}
              %span{:style => "float: left"}
                %p{:class => "artist"}
                  =link_to event.name, event
                %p{:class => "show"}
                  = event.time
                  @
                  =link_to event.venue.name, event.venue
              -if event.venue.image and event.venue.image.length > 0
                %img{:src => event.venue.image, :style => "width: 50px; height:50px; float: right;" }
      %article.subherounit
        %h2 Songs
        %ul
          - @songs.each do |song|
            %li{:class => "song"}
              %p{:class => "title"}
                =link_to "\"#{song.name}\"", song
              %p{:class => "artist"}
                - if song.album and song.album.band
                  = link_to song.album.band.name, song.album.band
      %article.subherounit
        %h2 Albums
        %ul
          - @albums.each do |album|
            %li{:class => "album", :style => "height: 45px"}
              =link_to album.name, album
              - if album.image and album.image.length > 0
                %img{:src => album.image, :style => "width: 50px; height: 50px; float: right;"}

%script{:type => "text/javascript"}
  mpq.push(["track", "Load home page"]);
