
#listing
  %h1 Artists
  
  - if !@users.empty?
    %table
      %tr
        %th Name
        %th Instruments
        %th Location
        %th 

      - @users.each do |user|
        %tr
          %td= link_to user.full_name, show_artist_path(user)
          %td= user.instrument
          %td
            =user.city
            , 
            =user.state
          %td
            %img{ :src => user.image, :align => "right", :height => "45px", :width => "45px" }

  - if @users.empty?
    %p
      No musicians found.
      
%script{:type => "text/javascript"}
  mpq.push(["track", "Load show all users page"]);