
#listing
  %h1 Artists
  
  - if !@users.empty?
    %table
      %tr
        %th Name
        %th Instruments
        %th Location
        %th 
        %th

      - @users.each do |user|
        %tr
          %td= user.full_name
          %td= user.instrument
          %td
            =user.city
            , 
            =user.state
          %td
            %img{ :src => user.image, :align => "right", :height => "45px", :width => "45px" }
          %td
            = link_to 'Show', show_artist_path(user)
            - if user == current_user
              = link_to 'Edit', edit_artist_path(user)
  - if @users.empty?
    %p
      No musicians found.
      
%script{:type => "text/javascript"}
  mpq.push(["track", "Load show all users page"]);