#signup
  .wrapper
  
    %h1== Signup
    - @title = "Signup"

    = render "simple_form"
    
    #col3
      %p Users don’t have to sign up to experience and browse the site, but we do encourage involvement as it will empower our users with a more customized local music experience. If you are a musician, we certainly want your involvement to maintain your site. We also encourage venues to sign up and maintain their pages. You can make corrections to show-times and dates, post pictures of shows from the past, hype up the ones to come, and help us keep this scene buzzing. After all, you above all others can benefit financially from the scene thriving.

    %script{:type => "text/javascript"}
      mpq.push(["track", "Load signup page"]);