- if @user
  %h3= @user.full_name
  
  - if @user.image
    %img{ :src => @user.image, :align => "right" }
  
  %p
    <b>Location</b>
    <br />
    =@user.location

  %p
    <b>Instrument</b>
    <br />
    =@user.instrument
  
  %p
    <b>Description</b>
    <br />
    =@user.description
    
  %p
    <b>On Endcap For</b>
    <br />
    #{time_ago_in_words(@user.created_at)}
  
  - if @user.bands
    %h3 Bands
    %ul
      - @user.bands.each do |band|
        %li
          =link_to band.name, band