- if model.errors.any?
  #errorExplanation
    %h2== #{pluralize(model.errors.count, "error")} prohibited this #{model.class.to_s.downcase} from being saved:
    %ul
    - model.errors.full_messages.each do |msg|
      %li= msg
      %script{:type => "text/javascript"}
        mpq.push(["track", "Show error", {"error": "#{msg}"}]);