
#profile
  .wrapper
    %div{:id => "profile1"}
      - if @event.image
        %img{ :src => @event.image, :align => "right", :width => "290" }
      %p
      - if @event
        =@event.description
  
    %div{:id => "profile2"}
      #top
        - if @event
        %h3= @event.name
        - if @event.venue
          %p
            %b Venue:
            = link_to @event.venue.name, @event.venue
        %p
          %b Time:
          = @event.time
        %p
          %b Cost:
          = @event.cost

      
        %h4 Bands
        %ul
          - @event.band_events.each do |performer|
            - if performer and performer.band and performer.band.name
              %li
                =link_to performer.band.name, performer.band
          

    %div{:id => "profile3"}
      %h3 Location & Other Info
      %p Venue Details
      %p Band Details / Website / Etc.
      
          
%script{:type => "text/javascript"}
  mpq.push(["track", "Load show event page"]);