%section
  %div{:class => "content main"}
    %header
      %h1 Editing album

    = render 'form'

    = link_to 'Show', @album
    \|
    = link_to 'Back', albums_path

    %script{:type => "text/javascript"}
      mpq.push(["track", "Load edit album page"]);
      