#maincontent
  .wrapper
    %h1 Editing band 
    = render 'form'

    = link_to 'Show', @band
    \|
    = link_to 'Back', bands_path

    %script{:type => "text/javascript"}
      mpq.push(["track", "Load edit band page"]);