$column_width: 60px;
$gutter: 20px;
$baseline: 20px;

@mixin columns($number_of_columns) {
  width: $column_width * $number_of_columns + $gutter * ($number_of_columns - 1);
  display: inline;
  float: left;
  margin: 0 10px; }

@mixin rows($number_of_rows) {
  height: $number_of_rows * $baseline; }

@mixin prefix($number_of_columns) {
  padding-left: $column_width * $number_of_columns + $gutter * $number_of_columns; }

@mixin suffix($number_of_columns) {
  padding-right: $column_width * $number_of_columns + $gutter * $number_of_columns; }

@mixin row {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } }
