%h1 Talk To Us
%p
  We'd love to hear from you!
%dl
  %dt
    Twitter
  %dd
    %a{:href => "http://twitter.com/swendcap", :target => "_blank" }
      @swendcap
  %dt
    Facebook
  %dd
    %a{:href => "http://www.facebook.com/Endcap", :target => "_blank" }
      http://www.facebook.com/Endcap