#maincontent
  .wrapper
    %h1 Talk To Us
    %p
      Carrier pigeon. Graffiti tag. Blood stained scratches on the floor. Whatever hardcore means you want to contact us, go for it. However, like your bedroom rap demos, they’ll probably go unheard. So you’d best stick to old fashioned (but still very hip) email. Ours is questions@endcap.info
      
    %dl
      %dt
        Twitter
      %dd
        %a{:href => "http://twitter.com/swendcap", :target => "_blank" }
          @swendcap
      %dt
        Facebook
      %dd
        %a{:href => "http://www.facebook.com/Endcap", :target => "_blank" }
          http://www.facebook.com/Endcap

    %h2 Sponsor
    %p
      This project was started with $38 and a smile. To keep it vibrant and relevant we need your help. Apart from cooperation in building our database, we are looking for sponsors to help us maintain it. If you’re interested in advertising on endcap, contact us. We have a great product that attracts a hyper-local crowd of youthful and social people, which makes a great market to tap into.